logs
saves
journeymap/data
local
crash-reports
screenshots
backups
modernfix
kubejs_example
ct_dumps
blueprints
command_history.txt
resourcepacks
data
user-prefs.json

journeymap/data
journeymap/icon
journeymap/journeymap.log

usercache.json
usernamecache.json
minecraftinstance.json
.qmenu_opened.marker
servers.dat
servers.dat_old
TrashSlotSaveState.json

*.log
*.tmp
*.dylib
*.env
.env

rhino.local.properties
*.DS_Store

.curseclient
options.txt
knownkeys.txt
realms_persistence.json

config/oculus.properties

